<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание проекта</title>
</head>
<body>
<h1>Создание проекта</h1>
<form action="#" th:action="@{/projects/create}" method="post">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Описание:</label>
    <textarea id="description" name="description"></textarea>

    <label for="startDate">Дата начала:</label>
    <input type="datetime-local" id="startDate" name="startDate" required>

    <label for="endDate">Дата окончания:</label>
    <input type="datetime-local" id="endDate" name="endDate">

    <label for="manager">Менеджер:</label>
    <select id="manager" name="managerId" required>
        <th:block th:each="user : ${users}">
            <option th:value="${user.id}" th:text="${user.username}"></option>
        </th:block>
    </select>

    <label for="assignees">Исполнители:</label>
    <select id="assignees" name="assignedUsers" multiple>
        <th:block th:each="user : ${users}">
            <option th:value="${user.id}" th:text="${user.username}"></option>
        </th:block>
    </select>

    <button type="submit">Создать проект</button>
</form>
</body>
</html>
