<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проекты</title>
</head>
<body>
<h1>Ваши проекты</h1>

<h2>Проекты, которые вы управляете:</h2>
<ul>
    <th:block th:each="project : ${managedProjects}">
        <li>
            <!-- Ссылка на редактирование проекта -->
            <a th:href="@{/projects/{id}(id=${project.id})/edit}" th:text="${project.name}"></a>
            <p th:text="${project.description}"></p>
            <p>Дата начала: <span th:text="${#temporals.format(project.startDate, 'dd.MM.yyyy HH:mm')}"></span></p>
            <p>Дата окончания:
                <span th:if="${project.endDate != null}"
                      th:text="${#temporals.format(project.endDate, 'dd.MM.yyyy HH:mm')}"></span>
                <span th:if="${project.endDate == null}">Дата окончания не указана</span>
            </p>

            <!-- Кнопка для перехода на страницу изменения исполнителей -->
            <a th:href="@{/projects/{id}/editAssignees(id=${project.getId()})}">
                <button>Изменение исполнителей</button>
            </a>
        </li>
    </th:block>
</ul>

<h2>Проекты, в которых вы участвуете:</h2>
<ul>
    <th:block th:each="project : ${assignedProjects}">
        <li>
            <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.name}"></a>
            <p th:text="${project.description}"></p>
            <p>Дата начала: <span th:text="${#temporals.format(project.startDate, 'dd.MM.yyyy HH:mm')}"></span></p>
            <p>Дата окончания:
                <span th:if="${project.endDate != null}"
                      th:text="${#temporals.format(project.endDate, 'dd.MM.yyyy HH:mm')}"></span>
                <span th:if="${project.endDate == null}">Дата окончания не указана</span>
            </p>
        </li>
    </th:block>
</ul>

<a href="/projects/create">Создать новый проект</a>
</body>
</html>
